@model DAL.Entities.TouristGroup_Customer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TouristGroup_Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TouristGroupId" value="@Model.TouristGroupId"/>
            <div class="form-group">
                <label for="CustomerId">Lựa chọn khách hàng</label>
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Url.Action("Index", "TouristGroup", new { id = Model.TouristGroupId })">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
